



<div class="backgroundimages">
<%= image_tag "background_4.jpg" %>


	</div>


	<p id="notice"><%= notice %>
<div class="shouts">
  <%= @shout.description %>
  </div>

</p>
<p>
  <!--<strong>Description:</strong>
 
</p>

<!--<%= link_to 'Edit', edit_shout_path(@shout) %> |
<%= link_to 'Back', shouts_path %>--!>



